################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HyperVBackup.Console/bin
/HyperVBackup.Console/obj
/HyperVBackup.Engine/bin
/HyperVBackup.Engine/obj
/packages
/.vs
/.vs/HVBackup/v15/.suo
