<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="console" xsi:type="Console"
            layout="[${longdate}] ${level}: ${message}"/>
    <target xsi:type="NLogViewer" name="viewer"
            address="udp://127.0.0.1:9999"/>
    <target xsi:type="File"
            name="file"
            layout="[${longdate}] ${level}: ${message}"
            fileName="logfiles\${date:universalTime=true:format=yyyy-MM-dd}.logs"
            createDirs= "true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="viewer" />
  </rules>
</nlog>